/* Estilos de cartas */
.mi-card {
    border: 2px solid #28a745; /* borde verde */
    border-radius: 10px;
    background-color: #f8f9fa; /* gris claro */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .mi-card img {
    height: 180px;
    object-fit: cover;
    border-bottom: 1px solid #ccc;
  }
  