/* Estilos de cartas */
.mi-container{
   max-width: 1100px; margin: 0 auto;
} 
.mi-card img .card-img-top{
  height: 180px;
  width: 100%;
  display: block;
  object-fit: cover;
  border-bottom: 1px solid #00fc60;
 
  }
  