/* Estilos globales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: #f4f4f9;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 36px;
    color: #58D68D;
    margin-bottom: 20px;
}

nav {
    text-align: center;
}

nav a.btn {
    background-color: #8cb686;
    color: white;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

nav a.btn:hover {
    background-color: #6fa474;
}

/* Estilos de la sección "Sobre Nosotros" */
.about-us {
    margin-bottom: 40px;
    line-height: 1.6;
    font-size: 18px;
    color: #666;
}

.about-us p {
    margin-bottom: 20px;
}

/* Estilos para las redes sociales */
.social-links {
    text-align: center;
}

.social-links h3 {
    font-size: 24px;
    color: #58D68D;
    margin-bottom: 20px;
}

.social-icons a {
    margin: 0 15px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.1);
}

.social-icons img {
    width: 50px;
    height: 50px;
    transition: opacity 0.3s ease;
}

.social-icons a:hover img {
    opacity: 0.7;
}
